<h1>Story itself</h1>
<h3>Belongs to category:</h3>

<b><% @story.categories.each do |category| %>
  <%= category.name %>
<% end %><br></b>

 <%= image_tag @story.image.url(:medium) %><br>

<b><%= @story.title %>  by  <%= link_to @story.writer.nickname, writer_path(@story.writer) %><br></b>

<%= @story.content %><br>

<% if  current_writer != @story.writer  %>
<%= render partial: 'likes/button', locals: { likeable: @story } %>
<% end %>

<%= @story.likes.count %> people liked this story.


<%= render @story.comments %>


<% if current_writer != @story.writer %>
<%= render 'comments/form' %><br>
<% end %>



<% if current_writer == @story.writer || current_writer && current_writer.admin?  %>
    <%= link_to 'Remove the story', story_path(@story), method: :delete, data: {confirm: "Delete this story?"} %><br>
    <%= link_to 'Edit the story', edit_story_path(@story) %><br>
<% end %>
    <%= link_to 'Back to list', stories_path %>
